---

---

<!doctype html>
<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/sewa-kasur" />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to <a href="/sewa-kasur">/sewa-kasur</a>...</p>
    <script>
      window.location.href =
        "/sewa-kasur" + window.location.search + window.location.hash;
    </script>
  </body>
</html>
