---
import MainLayout from "@/layouts/MainLayout.astro";
import Header from "@/components/Header.astro";
import Sidebar from "@/components/Sidebar.astro";
import PriceList from "@/components/PriceList.astro";
import StickyWhatsApp from "@/components/StickyWhatsApp.astro";
---

<MainLayout>
  <Header />
  <Sidebar />

  <main style="padding-top: 70px;">
    <!-- Price List - Jenis Kasur + Harga -->
    <PriceList />
  </main>

  <!-- Sticky WhatsApp CTA for mobile -->
  <StickyWhatsApp />
</MainLayout>
